.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
    background-color: #131313;
    color: #e4e2e1;
}

.textarea-custom::placeholder {
    color: rgba(245, 245, 240, 0.4);
}

.hljs {
    background: transparent !important;
}